@model ShopOnCommonLayer.Models.Order

@{
    ViewData["Title"] = "PlaceOrder";
}


<div class="container">
    <h4>My Order(s)</h4>
    <hr />
    <div class=" row">
        <div class="col-12">
            <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <p>@User.Identity.Name</p>
                                <p>OrderPlaced:@Model.OrderDate</p>
                            </div>
                            <div class="col-6">
                                <p>OrderId :#123pqYs#@Model.OrderId</p>
                            </div>
                        </div>
                    </div>
                <div class="card-body">
                    @foreach (var item in Model.GetOrderItems())
                    {
                    <div class="row">
                        <div class="col-4">
                            <img class="image" style="width:80px;height:130px" src="~/@Url.Content(item.Product.ImageUrl)" />
                            <p class="font-italic"><label>@item.Product.ProductName</label></p>
                        </div>
                        <div class="col-4">
                            <p><label>QTY:@item.ProductQty</label></p>
                            <label>Price:</label>
                            <span class="inr-sign"></span>
                            <span class="price">@item.Product.ProductPrice</span>
                        </div>
                        <div class="col-4">
                            <div class="col-12 justify-content-end">Item Total : <span class="inr-sign"></span><span class="price">@item.GetOrderItemTotal()</span></div>
                        </div>
                    </div>
                        
                        <hr/>
                    }
                </div>
                <div class="card-footer ">
                    <div class="row justify-content-end">
                        <div class="col-12 text-right">
                            <label>OrderTotal :</label>
                            <span class="inr-sign"></span>
                            <span class="price"> @Model.TotalAmount</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>